---
layout: generic_collection_item
image_viewer: 'simple'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Principal Link'
    value: page.principal_link
    type:  link
  - label: 'Additional Link'
    value: page.additional_link
    type:  link
  - label: 'Description'
    value: page.description
  - label: 'Current Location'
    value: page.current_location
  - label: 'Creators'
    value: page.creators
  - label: 'Contact Information'
    value: page.contact_information
  - label: 'Facebook'
    value: page.facebook
    type:  link
  - label: 'Twitter'
    value: page.twitter
    type:  link
  - label: 'Instagram'
    value: page.instagram
    type:  link
  - label: 'Status'
    value: page.status
---
